@import "../../vars.css";

.container {
  margin-top: 76px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  font-size: 40px; /* Larger font size for emphasis */
  font-weight: 800; /* Bolder font weight */
  letter-spacing: 2px; /* Increased letter spacing */
  text-transform: uppercase;
  text-align: center; /* Centered title */
  margin-bottom: 50px; /* Added margin for spacing */
}

.projects {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px; /* Increased gap for better spacing */
  width: 100%;
}